<div class="container init-hide" style="padding-bottom: 100px" id="lookup">

	<!-- input field, prefilled with database animals -->
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text border border-right-0">
				<!-- search icon -->
				<i class="text-primary fas fa-search"></i>
			</span>
		</div>
		<!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username"
				aria-describedby="basic-addon1"> -->
		<input type="text" list="animalList" value="" id="breed_input"
			class="form-control text-left rounded-right pl-3 border-left-0" aria-describedby="basic-addon1"
			placeholder="filter by breed name ... " onkeyup="filterBreeds()">
	</div>

	<div id="breed_container">
		<!-- go through each breed and add a button + table info  -->
		<% for(var i=0; i < breeds.length; i++) { %>
		<!-- button with breed name toggles the collapsible table of breed info -->
		<!-- data target of button connects to id of collapsible table, 
				regex to change spaces to underscores and to remove parenthesis for id naming conventions -->
		<div class="dog_card">
			<!-- Note: Horrible to scale image like this for performance. Change in future to use <picture> -->
			<img src="<%= data[breeds[i]].image %>" alt="No image of this dog breed available" width="100%" class="img-fluid">
			<button type="button" class="btn btn-info img-fluid" data-toggle="collapse"
				data-target="#<%= breeds[i].replace(/ ()/g,'_').replace(/\(|\)/g,'')%>"
				style="margin-bottom:5px; width: 400px">
				<%= breeds[i]%>
			</button>
			<!-- collapsible table -->
			<div id="<%= breeds[i].replace(/ /g,'_').replace(/\(|\)/g,'')%>" class="collapse">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Category</th>
							<th scope="col">Details</th>
						</tr>
					</thead>
					<tbody>
						<% Object.keys(data[breeds[i]]).forEach(prop => {  %>
						<% if (prop != 'image') { %>
						<tr>
							<td> <%= prop %> </td>
							<td> <%= data[breeds[i]][prop] %> </td>
						</tr>
						<% } %>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
		<% } %>
	</div>
</div>


<script>



</script>